@model BookDetailsServiceModel
@inject IBookService bookService
@inject ISellerService sellerService
@{
    ViewBag.Title = "Book Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Book Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <div>
                <p>Description: @Model.Description</p>
                <p>Category: <b>@Model.Category</b></p>
                <p>Author: <b>@Model.Author</b></p>
                @if (Model.IsAvailable = true && (await sellerService.ExistsById(User.Id()) == false || User.IsAdmin()))
                {
                    <form class="ml-2" asp-controller="Book"
                          asp-action="Buy" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Buy" />
                    </form>
                }
                else if (Model.IsAvailable = false && (await bookService.IsBoughtByUserWithId(Model.Id,User.Id())))
                {
                    <form class="ml-2" asp-controller="Book" asp-action="Leave"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Leave" />
                    </form>
                }
            </div>
            <div class="form-inline">
                @if (await bookService.HasSellerWithId(Model.Id, User.Id()) || User.IsAdmin())
                {
                    <a class="btn btn-warning" asp-controller="Book" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Book" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                }
            </div>
        </div>
    </div>
</div>